@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:wght@300&display=swap');

.App
{
    min-height: 100vh;
    display: flex;
    /* background-image: url("./bg\ chat\ img.jpg"); */
    /* background-image: url("./bg\ img.jpg"); */
    background-image: url("./bg2.jpg");
    background-size: cover;
    background-position: center;
}